@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<table class="table">
    <tr>
        <th>
            Question
        </th>
        <th>
            Answer
        </th>
    </tr>

    @foreach (var item in ViewBag.questions)
    {
        <tr>
            <td>
                @item.question
            </td>
            <td>
                @item.answer
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.missionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.missionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.missionID })
            </td>
        </tr>
    }

</table>
