@model Project1__MissionQA.Models.Mission

@{
    ViewBag.Title = "YourMission";
}

<h2>@Model.Name  Mission FAQ's</h2>
<p>Your mission president: @Model.President</p>
<p>Your mission address: @Model.Address</p>
<p>Your mission language: @Model.Language</p>
<p>Your mission climate: @Model.Climate</p>
<p>Your mission's dominant religion: @Model.DominantReligion</p>
<p>Your mission's flag or symbol: </p>
<img src="@Model.Symbol" alt="Once we have a working link, a real picture will show up here."/>

